spring:
  application:
    name: transaction

# Removed incorrect config import
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false

  datasource:
    url: jdbc:mysql://localhost:3306/transaction
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  liquibase:
    change-log: classpath:db/changelog/changelog-master.yaml


info:
  app:
    name: "transaction"
    description: "Application for online banking accounts."
    version: "1.0"

server:
  port: 9096

feign:
  client:
    config:
      account-service:
        url: ${account-service.url}

account-service:
  url: http://localhost:9095


eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka